@charset "utf-8";
*{margin: 0; padding: 0;font-family: Arial;}
ul{list-style: none;}
a{text-decoration: none;}
img{width: 200px;height: 200px;}

header{
	height: 50px;
	background-color: #94b998;
}
header div{
	line-height: 50px;
	float:right;
	margin-right: 30px;
}
header a{
	color: #fff;
}
.main{
	background-image: url("HW2_10.png");
	padding-top:50px;
	padding-bottom: 50px;
}
.main > h1{
	font-size: 2em;
	text-align: center;	
	color:#fff;
	padding-bottom: 25px;
}
.main > article{
	background-color:#f0ffff;
	width:700px;
	margin: 0 auto;
	padding: 30px;
}

.main > article h2{
	line-height: 70px;
}
.main > article p{
	line-height: 30px;
}

.main2 nav p{
	height: 100px;
	line-height: 100px;
	background-color: #2d4f70;
	color: #fff;
	font-size: 50px;
	text-align: center;
	text-transform:uppercase; /*대문자*/
}
section #pic{
	margin: 0 auto;
	width: 1000px;
	overflow:hidden;
	margin-bottom: 100px;
}
section #pic li{
	float: left;
}
section #pic a:hover{opacity:0.2;}
footer{
	line-height:50px;
	text-align: center;
}
