html{
    background-image: url(HW2_2.jpg)
}
header{
    background-color: aliceblue;
    border: 1px solid gray;
    padding: 20px;
}
header h1{
    font-style: italic;
    letter-spacing: 0.2em;
}
nav{
    border: 1px solid orange;
    text-align: right;
}
nav ul li{
    display: inline;
    padding: 20px;  
}
section {
    background-color: aliceblue;
    float: left;
    border: 1px solid gray;
    margin-top: 10px;
    padding: 10px;
    line-height: 1.4em;
}
article{
    border: 1px solid lightgray;
    float: left;
    margin: 5px;
    padding: 20px;
}
section ul li{
    border: 1px solid lightgray ;
    display: table;
    float: left;
    margin: 5px; 
    padding: 5px;
    overflow: hidden;
}
section ul li:hover {
    opacity: 0.5;
}
img {    
    width: 200px;
    height: 200px;
}
body footer {
    margin-top: 10px;
    clear: left;
    border: 1px solid orange ;
    
    padding: 15px;
    background-color: aliceblue;
    color: orange;
    text-align:center;
} /* footer 왜 마진이 안먹는지 궁금 */



