#clearFix{
  clear: both;
}

body{
  background-image: url('back_img.jpg');
  color: #e6e6e6;
}

#menuBar ul{
  list-style-type: none;
  float: right;
  width: 600px;
  margin-right: 50px;
}

#menuBar ul li{
  display: inline;
  border-left: 2px solid #c0c0c0;
  font-size : 20px;
  padding-left: 3px;
}

#about div{
  box-sizing: border-box;
  width: 750px;
  margin-left: 600px;
  background-color: rgba(255, 255, 255, 0.08);
}

#about_center{
  text-align: center;
}

#portpolio{
  text-align: center;
}

#gallery div {
  box-sizing: border-box;
  width: 900px;
  margin-left: 500px;
  text-align: center;
}

#gallery div ul{
  list-style-type: none;
}

.gallery_img{
  width:200px;
  height: 150px;
}

.gallery_img:hover{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
