@charset "utf-8";

/* reset */

body {
	font-family: HelveticaNeue-Light,AppleSDGothicNeo-Light,NanumGothic,나눔고딕,'Malgun Gothic','맑은 고딕',sans-serif;
	line-height:1.2;
	color:#666666;
	background-color: #ebefee;
	margin:0;
	padding:0;
	letter-spacing: -0.025em;
}
br {
	letter-spacing: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-size:1em;
}
h1, h2, h3, h4, h5, h6, div, p, dl, dt, dd, ul, ol, li, form, fieldset, blockquote, address, table, thead, tbody, tfoot, tr, td, caption {
	margin:0;
	padding:0;
}
ul, ol {
	list-style:none;
}
img {
	border:0;
}
a:link, a:visited {
	color: #666666;
	text-decoration:none;
}
a:hover {
	color: #666666;
	text-decoration:none;
}


/* layout */

#wrap{
	min-width: 1024px;
	overflow: hidden;
}

.clearfix:after{
	clear: both;
	content: ".";
	display: block;
	visibility: hidden;
	height: 0px;
}

.hidden_txt{
	text-indent: -9999px;
}


/* header */

.header{
	position: fixed;
	z-index: 1000;
	width: 100%;
	height: 65px;
	border-bottom: 1px solid #d0d0d0;
	background-color: white;
}

.inner_header{
	width: 980px;
	height: 65px;
	margin: 0 auto;
}

h1{
	width: 160px;
	height: 33px;
	background: url(http://m1.daumcdn.net/img-media/storyfunding/pc/img_storyfund_160527.png) no-repeat 0px -566px;
	margin-top: 15px;
	float: left;
}

form{
	width: 414px;
	margin: 18px 0 0 48px;
	float: left;
}

form .search_box input{
	width: 367px;
	height: 28px;
	border: none;
	background: transparent;
	float: right;
	color: #9b9b9b;
	font-size: 17px;
}

form .search_box button{
	width: 29px;
	height: 30px;
	border: none;
	background: url(http://m1.daumcdn.net/img-media/storyfunding/pc/img_dk_151109.png) no-repeat -26px -1px;
	float: left;
	cursor: pointer;
}

.nav{
	float: right;
}

.nav li{
	width: 46px;
	height: 65px;
	margin-left: 17px;
	float: left;
}

.nav li a{
	width: 46px;
	height: 45px;
	display: block;
}

.nav li a span{
	width: 28px;
	height: 28px;
	display: block;
	margin: 20px auto 0;
}

.nav li a .txt{
	display: block;
	text-align: center;
	font-size: 0;
	line-height: 0;
	text-indent: -999px;
}

.nav li:first-child span{
	background: url(http://m1.daumcdn.net/img-media/storyfunding/pc/img_storyfund_160527.png) no-repeat 0 -173px;
}

.nav li:nth-child(2) span{
	background: url(http://m1.daumcdn.net/img-media/storyfunding/pc/img_storyfund_160527.png) no-repeat -33px -173px;
}

.nav li:nth-child(3) span{
	background: url(http://m1.daumcdn.net/img-media/storyfunding/pc/img_storyfund_160527.png) no-repeat -66px -173px;
}

.nav li:last-child span{
	background: url(http://m1.daumcdn.net/img-media/storyfunding/pc/img_storyfund_160527.png) no-repeat -99px -173px;
}

.nav li:first-child span:hover{
	background: url(http://m1.daumcdn.net/img-media/storyfunding/pc/img_storyfund_160527.png) no-repeat 0 -2px;
}

.nav li:nth-child(2) span:hover{
	background: url(http://m1.daumcdn.net/img-media/storyfunding/pc/img_storyfund_160527.png) no-repeat -33px -2px;
}

.nav li:nth-child(3) span:hover{
	background: url(http://m1.daumcdn.net/img-media/storyfunding/pc/img_storyfund_160527.png) no-repeat -66px -2px;
}

.nav li:last-child span:hover{
	background: url(http://m1.daumcdn.net/img-media/storyfunding/pc/img_storyfund_160527.png) no-repeat -99px -2px;
}


/* content */

.main_frame{
	width: 100%;
	height: 500px;
	overflow: hidden;
	position: relative;
	margin-top: 66px;
}

.main_img{
	display: block;
	width: 100%;
	height: 100%;
	background: url("http://u1.daumcdn.net/cod/ca884b3221da45b6b547aa5a48d1e036") no-repeat 50% 25%;
	/*filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='', sizingMethod='scale');*/
	-webkit-filter: brightness(80%);
	-webkit-background-size: cover;
	background-size: cover;
}

#episode{
	border-bottom: 1px solid black;
}

.donate{
	width: 100%;
	position: absolute;
	top: 38%;
	left: 0;
	color: white;
	text-align: center;
	vertical-align: middle;
}

.donate p{
	font-size: 14px;
}

.donate strong{
	font-size: 30px;
	font-weight: normal;
	letter-spacing: -0.425px;
	display: inline-block;
	margin-top: 23px;
}

.donate .hidden_txt{
	width: 700px;
	height: 6px;
	background-color: #16b7ab;
	border-radius: 2px;
	margin: 0 auto;
	margin-top: 26px;
}

.donate span{
	display: inline-block;
	font-size: 19px;
	margin-top: 15px;
}

.donate span > span{
	font-size: 16px;
}

.slide_dot{
	margin-top: 113px;
}

.slide_dot span{
	margin-top: 0px;
}

.slide_dot span a span{
	float: left;
	width: 10px;
	height: 10px;
	border-width: 2px;
	border-radius: 10px;
	background-color: #fff;
	opacity: 0.4;
	margin: 0 7px;
	text-indent: -9999px;
}

.slide_dot span a .apply{
	opacity: 1;
}

.con_home{
	width: 995px;
	margin: 0 auto;
}

.wrap_home{
	width: 995px;
	margin-left: 7px;
}


h3{
	width: 980px;
	height: 76px;
	vertical-align: middle;
	line-height: 80px;
	text-align: center;
	font-size: 17px;
	font-family: AppleSDGothicNeo-Regular,NanumGothic,나눔고딕,sans-serif;
	color: black;
	margin-bottom: 3px;
}

.editors_pic{
	width: 233.75px;
	height: 333px;
	background-color: white;
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
}

.editors_pic > a{
	display: inline-block;
	height: 333px;
	border: 1px solid #e6eae9;
}

.editors_pic a > span{
	display: block;
	overflow: hidden;
	width: 233.75px;
	height: 182px;
	position: relative;
}

.editors_pic a span img{
	height: 182px;
}

.editors_pic a span .donate_pos{
	display: block;
	width: 48px;
	height: 25px;
	text-indent: -9999px;
	position: absolute;
	bottom: 14px;
	left: 20px;
	background: url(http://m1.daumcdn.net/img-media/storyfunding/pc/img_storyfund_160527.png) no-repeat -106px -313px;
}

.editors_pic a span em{
	display: block;
	width: 48px;
	height: 25px;
	text-indent: -9999px;
}

.editors_pic a div > strong, .editors_pic a div > span{
	display: block;
}

.editors_pic a div strong{
	font-size: 16.05px;
	font-weight: normal;
	color: black;
	padding-top: 17px;
}

.editors_pic a div span{
	font-size: 15px;
	line-height: 22.5px;
	padding-top: 4px;
}

.editors_pic a div{
	padding: 0 20px;
}

.editors_pic a{
	position: relative;
}

.pic_graph{
	position: absolute;
	top: 245px;
	left: 0;
}

.pic_bar {
	width: 193.75px;
	height: 0.3px;
	background-color: #16b7ab;
	border-radius: 2px;
	margin: 0 auto;
	margin-top: 36.5px;
	color: transparent;
}

.editors_pic a div span span{
	font-size: 13.95px;
	padding-top: 0;
}

.editors_pic a div span span:first-child{
	float: left;
}

.editors_pic a div span span:last-child{
	float: right;
}

.total{
	width: 980px;
	height: 70px;
	background-color: #52cda2;
}

.total a{
	display: block;
	text-align: center;
	border: 1px solid red;
	vertical-align: middle;
}



/* footer */

.footer{
	width: 100%;
	height: 71px;
	background-color: #fefefe;
	border: 1px solid #eff1f0;
}

.inner_footer{
	width: 980px;
	display: block;
	margin: 31px auto 0;
}

.inner_footer span a{
	font-family: HelveticaNeue-Light,AppleSDGothicNeo-Light,NanumGothic,나눔고딕,'Malgun Gothic','맑은 고딕',sans-serif;
	font-size: 13px;
	letter-spacing: 0;
	color: #aaa;
	float: left;
}

.inner_footer span span{
	display: inline-block;
	width: 1px;
	height: 13px;
	margin: 0 10px;
	float: left;
	background-color: #dfdfdf;
}

.inner_footer a{
	display: inline-block;
	float: right;
}

.inner_footer a span{
	display: inline-block;
	width: 10px;
	height: 12px;
	padding-bottom: 1px;
	background: url(http://m1.daumcdn.net/img-media/storyfunding/pc/img_storyfund_160527.png) no-repeat -100px -42px;
}

.inner_footer a strong{
	font-size: 13px;
	letter-spacing: -1px;
	font-weight: normal;
	vertical-align: top;
}

















