nav {
	background-color: #444;
	overflow: hidden;
	list-style-type: none;
	margin: 0;
	padding: 0;
	}
	a {
		display: inline;
		float: left;
		padding: 8px;
		color: white;
		text-align: center;
		font-family: sans-serif;
		padding: 14px 16px;
		text-decoration: none;
		}
	nav a:hover:not(.active) {
			background-color: #4CAF50;
	}
	.center {
		margin: auto;
		width: 70%;
		padding: 10px;
	}
	img.displayed {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	body {
		background-color: ivory;
		text-align: center;
	}

.hover {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	cursor: default;
	text-decoration: none;
	list-style: none;
}
.hover a {
	margin: auto;
	padding: inherit;
	background: #FCC9FF;
	position: relative;

}
.hover a img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover a:hover img {
		opacity: .5;
}

.hover img
{
	vertical-align: top;
	width: 180px;
	height: 180px;
}
.hover ul {
	list-style-type: none;
	}
.hover li
{
	background: #eee;
	border-color: #ddd #bbb #aaa #ccc;
	color: inherit;
	display: inline-table;
	text-align: center;
	position: relative;
}
footer {
	text-align: center;
}
