body{
	background-color: #e6e6e4;
	font-family: "Tahoma", Sans Serif;
}

.wrapper{
	width: 700px;
	margin: 0 auto;
	overflow: hidden;
}

.nav{
	list-style-type: none;
	overflow: hidden;
	padding: 0 0 20px 20px;
	border-bottom: 5px solid #7c7c7c;
}

.nav li{
	float: left;
}

.about, .recipe, .press, .contact{
	margin-top: 65px;
}

.about, .recipe, .portfolio, .press{
	margin-right: 60px;
}

.nav a:hover {
    color: #ffffff;
}

.nav a:active {
    color: #bbce56;
}

.images li:hover{
	opacity: 0.3;
}

#about .about a{
	color: #bbce56;
}

#recipe .recipe a{
	color: #bbce56;
}

#portfolio .portfolio a{
	color: #bbce56;
}

.nav li a{
	text-decoration: none;
	color: #7c7c7c;
	font-size: 1.2em;
}

.portfolio{
	width: 150px;
	height: 150px;
	border-radius: 100px;
}

.contents{
	margin-top: 35px;
	color: #7c7c7c;
	line-height:1.8em;
}

.contents p a{
	text-decoration: none;
	color: #7c7c7c;
}

#recipe .contents img{
	width: 700px;
	margin-top: 10px;
}

.images{
	list-style-type: none;
	overflow: hidden;
	padding-left: 0px;
}

.images li{
	float: left;
}

#portfolio .contents img{
	width: 350px;
	height: 230px;
	display: block;
}

footer{
	margin-top: 30px;
	border-top: 5px solid #7c7c7c; 
}

footer p{
	text-align: center;
	color: #747474;
}