header{
	background-color: #add8e6;
	padding-right: 50px;
	text-align: right;
	color: white;
}

nav{
	background-color: #afeeee;
	text-align: center;
	padding: 15px 0px 10px 0px;
	margin: 0px;
}

nav div{
	background-color: #f0ffff;
	margin: 0px 50px;
	text-align: left;
	padding: 5px
}

section h2{
	background-color: #5f9ea0;
	font-size: 35px;
	text-align: center;
	margin: 0px;
}

section table{
	padding-left: 300px;
	padding-bottom: 50px;
}

img{
	width: 120px;
	height: 120px;
}

a:hover {
	opacity: 0.5;
	filter: alpha(opacity=100)
}

footer{
	text-align: right;
	border-top:1px solid black;
	padding-right: 30px;
}