@charset "utf-8";

body{
	background-color: #e6e6e4;
}

h1{
	line-height: 2em;
	border-bottom: 3px solid black;
	margin-bottom: 50px;
	margin-bottom: 40px;
}

h2{
	line-height: 0.5em;
	margin: 0px;
}

#wrapper{
	width: 900px;
	margin: 0 auto;
}

.essential{
	/*border: 1px solid #8c8c8c;*/
	/*padding-left: 15px;*/
	padding-bottom: 20px;
	border-bottom: 1px solid #c9c9c9;
}

.essential h2{
	display: inline-block;
}

.essential span{
	color: red;
	font-size: 0.8em;
}

.essential div p input{
	width: 180px;
	height: 22px;
	background-color: #f8f8f8;
	border: none;
	border-radius: 4px;
}

.etc{
	margin-top: 40px;
}

.etc div p select{
	width: 180px;
	height: 25px;
	border: 1px solid #eaeaea;
}

.etc div p textarea{
	width: 895px;
	height: 50px;
	background-color: #f8f8f8;
	border: none;
	border-radius: 4px;
}

.etc div textarea{
	margin-top: 5px;
}

.bt{
	text-align: center;
}

.submit, .reset{
	font-size: 1.2em;
	width: 70px;
}


























